._3R-H1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  direction: var(--direction);
  justify-content: var(--justify-content);
  margin: var(--margin)
}

._3iVFe {
  margin: var(--item-margin);
  direction: ltr
}

._3Rcdf {
  display: flex;
  flex-direction: column
}